# ==============================
# Generated course files
# ==============================

txt/
audio/
subtitles/
zip/

# Generated audio / subtitles / packages
*.mp3
*.srt
*.zip


# ==============================
# Python
# ==============================

__pycache__/
*.py[cod]

# Virtual environment
.venv/
venv/
env/


# ==============================
# Temporary files
# ==============================

*.tmp
*.temp


# ==============================
# IDE
# ==============================

.vscode/
.idea/


# ==============================
# OS
# ==============================

Thumbs.db
.DS_Store